.container {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
}

.box {
  width: 90%;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.dashboard-sales {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sales-container {
  padding: 20px;
  border-radius: 10px;
  background-color: #e8f0fe;
  display: flex;
  gap: 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: azure;
  padding: 10px;
  border-radius: 8px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
