.container {
  width: 100%;
  height: 100dvh;
  background-color: #00007a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 30px;
  border-radius: 15px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title i {
  font-size: 24px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inputName,
.inputEmail,
.inputPassword,
.inputPhone {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #00007a52;
  color: #00007a52;
  font-weight: bolder;
}

.inputName:focus,
.inputEmail:focus,
.inputPassword:focus,
.inputPhone:focus {
  border: 2px solid #00007a;
  color: #00007a;
}

.register {
  width: 120px;
  border: none;
  padding: 10px;
  background-color: blue;
  color: #fff;
  border-radius: 10px;
  transition: 0.3s ease;
}

.register:hover {
  transform: translateY(-5%);
  background-color: #00005e;
}
