@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #7070ff;
}

.errorMessage {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  min-height: 20px;
  display: none;
}

.errorMessage.error {
  display: block;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.errorMessage.success {
  display: block;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}
